body {
    font-family: "LXGW WenKai Screen", sans-serif;
    /* background-image: url("images/background.jpg"); */
    /* background-image: url("../images/background.jpg"); */
    background-size: cover;
}

button.md-top {
    font-family: LXGW WenKai; /* 修改字体 */
    font-size: 16px; /* 修改字体大小 */
    font-weight: bold; /* 修改字体粗细 */
    color: #518FC1; /* 修改字体颜色 */
}
